.main--section {
  background: url("../assets/images/bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 76rem;
  padding-bottom: 5rem;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 370px) and (max-width: 575.9px) {
  .main--section {
    background-size: 140% 55%;
    background-position: right;
    height: 52rem;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.9px) {
  .main--section {
    background-size: 130% 60%;
    background-position: center;
    height: 56rem;
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.9px) {
  .main--section {
    background-size: 100% 65%;
    background-position: center;
    height: 56rem;
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1139.9px) {
  .main--section {
    background-size: 100% 90%;
    background-position: center;
    height: 60rem;
    padding-bottom: 5rem;
  }
}
